<div class="footer-container">
    <div class="footer-logo-container footer-column">
        <img src="/assets/imgs/logo-footer.png" alt="Logo Esprit Rivage" class="footer-logo">
    </div>
    <div class="footer-contact footer-column">
        <p>Normandie, France</p>
        <p>Email : contact@esprit-rivage.fr</p>
        <p><i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i> 06 XX XX XX XX</p>

    </div>

    <div class="footer-column">
        <a href="/contact" class="btn-footer">Demander un devis</a>
    </div>

    <div class="footer-social footer-column">
        <h4>Suivez-nous</h4>
        <a href="#"><img src="/assets/icons/square_facebook.svg" class="fb-icon" alt="Facebook"></a>

    </div>
</div>

<div class="footer-bottom">
    <p>© 2026 Esprit Rivage – Tous droits réservés | <a href="/mentions-legales">Mentions légales</a></p>
</div>